/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}



body {
    font-family: "Poppins", sans-serif;
    background: #0f172a;
    color: white;
    overflow-x: hidden;
    
}


.app-content-block {
    position: relative;
}



//  ----------- Text ---------------
.large-text {
    font-size: 1.6rem;
}

.medium-text {
    font-size: 1.1rem;
}

.small-text {
    font-size: 0.6rem;
}

.scaled-text {
    font-size: clamp(12px, 1.8vw, 32px);
}

.scaled-text-large{
    font-size: clamp(20px, 4vw, 60px);
}

.scaled-text-small{
    font-size: clamp(7px, 1.2vw, 20px);
}



.main-container {
    position: relative;
}

.box-area {
    display: flex;
    align-items: center;     /* horizontal */

}


.img-container {
    border-radius: 50px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #e5e7eb;
    min-width: 300px;
    min-height: 300px;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;          /* fill container without distortion */
}


.scrollable {
    scroll-behavior: smooth;
}
.scroll-all{
    overflow-y: auto;
    overflow-x: auto;
    
}

.scroll-y{
    overflow-y: auto;
    overflow-x: hidden;
}

.scroll-x{
    overflow-y: hidden;
    overflow-x: auto;
}


.content-box {
    padding: 5% 5%;
    border-radius: 30px;
    border: 10px solid yellow;
    margin-bottom: 10vh;
}

.content-box.left-curve {
    padding-left: 10%;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
}

.content-box.right-curve {
    padding-right: 10%;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
}




// Scroll Bar Style

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}


::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: #555;
}



// Fade

.image-fade {
  position: relative;
  display: block;
  width: 100%;
  height: auto;

  /* Apply a gradient mask */
  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
  mask-repeat: no-repeat;
  mask-size: cover;
}

