/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: "Poppins", sans-serif;
    background: #0f172a;
    color: white;
    overflow-x: hidden;
}


.app-content-block {
    position: relative;
}

.large-text {
    font-size: 1.6rem;
}

.medium-text {
    font-size: 1.1rem;
}

.small-text {
    font-size: 0.6rem;
}

.main-container {
    position: relative;
}

.box-area {
    display: flex;
    align-items: center;     /* horizontal */

}


.img-container {
    border-radius: 50px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #e5e7eb;
    min-width: 420px;
    min-height: 420px;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;          /* fill container without distortion */
}
